extends layout
block content
    h1= title
    - let ramenid = toShow._id
    - let ramen_type = toShow.ramen_type
    - let ramencalorie = toShow.calorie
    - let ramencost = toShow.cost
    div
        div.row
            div(class='ramenAttr mr-3') Ramen ID is:
            div #{ramenid}
        div.row
            div(class='rameneAttr mr-3') Ramen Type is:
            div #{ramen_type}
        div.row
            div(class='ramenAttr mr-3') Ramen Size is:
            div #{ramencalorie}
        div.row
            div(class='ramenAttr mr-3') Ramen Cost is:
            div #{ramencost}